<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> Edit Form of Comment</h1>
    
    <form action="/comments/<%=foundComment.id%>?_method=PATCH" method="POST">

        <!-- <label for="name">Username</label>
        <input type="text" class="text" name="username" id="name"> -->
        <h3>Username : <%=foundComment.username%></h3>
        <label for="content">Comment</label>
        <textarea name="comment" id="content" cols="30" rows="10"><%=foundComment.comment%></textarea>

        <button type="submit">Edit Comment</button>
    </form>

</body>
</html>