<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/comments" method="POST">

        <label for="name">Username</label>
        <input type="text" class="text" name="username" id="name">

        <label for="content">Comment</label>
        <textarea name="comment" id="content" cols="30" rows="10"></textarea>

        <button type="submit">Add Comment</button>
    </form>
    
</body>
</html>

