<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Showing Comment</h1>

    <h1><%= foundComment.id%></h1>
    <h1><%=foundComment.username%></h1>
    <h1><%=foundComment.comment%></h1>
    

</body>
</html>